<!doctype html>
<html ng-app="learningApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.angularjs.org/1.6.0-rc.2/angular.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-controller="IndexController">
    <div class="body">
        <p>Hallo, willkommen zu der LearningApp.</p>

        <div class="ueberschrift"> <h3>Courses</h3>
            <div ng-repeat="(key, course) in courses" class="categories">
                <br>{{course.name}}
            <ul ng-repeat="lecture in course.lectures" class="orderedLists">
                <li><a href="#" ng-click="coursePicked(key+'-'+lecture.id)" class="myButton">{{lecture.name}}</a></li>
            </ul>
            <ul class="orderedLists">
                <li><a href="#" class="myButton"><span style="font-size: large">+</span></a></li>
            </ul>
            </div>
            <span style="font-size: large">+</span>
        </div>

        <div ng-if="quizLoaded" class="quiz"> <h3>Self test</h3>
            <h4>{{notes[i].question}}</h4>
            <div ng-if="answered == 0">
                <textarea ng-model="input.userAnswer"></textarea>
            </div>
            <div ng-if="answered == 1">
                <p style="color: green">{{savedAnswer}}</p>
                <br/>
                <b>{{notes[i].answer}}</b>
            </div>
            <div ng-if="answered == 0">
                <button ng-if="answered == 0" type="button" ng-click="quizAnswer()">Ready</button>
            </div>
            <div ng-if="answered == 1" >
                <br/>Was your answer: <br />
                <button type="button" ng-click="quizCorrect()">Correct</button>/
                <button type="button" ng-click="quizWrong()">Wrong</button>
            </div>
        </div>
    </div>
</body>
</html>
